/PartnerIntegrationBff/.vs
/PartnerIntegrationBff/packages
/PartnerIntegrationBff/PartnerIntegration.UnitTests/bin
/PartnerIntegrationBff/PartnerIntegration.UnitTests/obj
/PartnerIntegrationBff/PartnerIntegrationBff/obj
/PartnerIntegrationBff/PartnerIntegrationBff/bin
*.dll
